body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #D896FF;
  border-bottom: 1px solid #000099;
}

.navbar-brand {
  margin: 10px 0;
}
.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #000099;
}

#collapsable-nav {
  border: none;
}
#nav-list {
  border: 1px solid #000099;
}
#nav-list a {
  text-align: center;
  background-color: #FFFFFF;
  color: #000099;
  border: 1px solid #000099;
  font-size: 1.2em;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  border: 2px solid #000099;
}
.navbar-header button.navbar-toggle span {
  border-bottom: 2px solid #000099;
}

/** END OF HEADER **/

/** MAIN CONTENT **/
#main-content h2 {
	margin-bottom: 30px;
	color: #000099;
}

.box {
	background-color: #D896FF;
	border: 1px solid #000099;
	margin: 10px 5px;
	padding: 0 20px;
	color: #000000;
}

.box h3 {
	margin: 20px 0;
	color: #000099;
}

/** END OF MAIN CONTENT **/